<section class="create-form-container">

  <form action="/book/createReview" method="POST">
    <h3>Create Book Review</h3>
    <label>Title</label>
    <input type="text" name="title" value="{{body.title}}" class="box" id="" />
    <label>Author</label>
    <input
      type="text"
      name="author"
      value="{{body.author}}"
      class="box"
      id=""
    />
    <label>Genre</label>
    <input type="text" name="genre" value="{{body.genre}}" class="box" id="" />
    <label>Stars</label>
    <input
      type="number"
      name="stars"
      value="{{body.stars}}"
      class="box"
      id=""
    />
    <label>Image</label>
    <input
      type="text"
      name="imageUrl"
      value="{{body.imageUrl}}"
      class="box"
      id=""
    />
    <label>Review</label>
    <textarea class="box" name="bookReview">{{body.bookReview}}</textarea>
    <input type="submit" value="Create" class="btn" />
  </form>
</section>